<div class="banner banner-fullwidth">
  <div class="banner-content-wrapper" style="background: #403e3a;">
    {{^isContactPage}}
    <h3 style="font-size: 2.0em; line-height: 1.5em;">Where we're located</h3>
    <a href="/contact">Contact Us</a>
    {{/isContactPage}}
    {{#isContactPage}}
    <div style="display:flex;flex-direction:column;flex:1;justify-content:center;margin-bottom:15px;">
      <h5 style="font-size: 2.0em;color:white;line-height: 1.5em;margin:15px;">Find Us</h5>
    </div>
    {{/isContactPage}}
  </div>
  <div class="banner-image-wrapper" style="height: 300px; width: 100%;">
    <iframe src="https://www.google.com/maps/embed/v1/place?key={{googleApiKey}}&q={{googleMapsSearchQuery}}" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
  </div>
</div>
<div class="mb50 visible-sm visible-xs"></div>
