<h3 class="carousel-title">Best Sellers</h3>

<div class="owl-data-carousel owl-carousel"
data-owl-settings='{ "items":4, "nav": true, "dots":false }'>
{{#bestSellers}}
<div class="product">
  <figure>
    {{#primaryImage}}
    <a href="/products/{{id}}" class="product-image-link">
      <div class="no-image md" style="display:flex;justify-content:center;align-items:center;overflow:hidden;">
        <img src="{{primaryImage}}" style="max-width:100%;max-height:100%">
      </div>
    </a>
    {{/primaryImage}}
    {{^primaryImage}}
    <a href="/products/{{id}}" title="{{name}}">
      <div class="no-image md">
        No Image
      </div>
    </a>
    {{/primaryImage}}
  </figure>
  <h3 class="product-title" style="margin-top: 10px;">
    <a href="/products/{{id}}">{{name}}</a>
  </h3>
  {{#isLoggedIn}}
  <div class="product-price-container">
    <span class="product-price">{{price}}</span>
  </div>
  {{/isLoggedIn}}
</div>
{{/bestSellers}}
</div>
<div class="mb30 mb10-xs"></div>
