<aside class="col-md-3 col-md-pull-9 sidebar sidebar-shop">
  <div class="widget widget-box widget-shop-category active">
    <ul class="shop-category-list accordion">
      {{#isLoggedIn}}
      <li><a href="/account">My Account</a></li>
      <li><a href="/account/cart">View Cart / Checkout</a></li>
      <li><a href="/account/logout">Log Out</a></li>
      <hr />
      {{/isLoggedIn}}
      {{#categories}}
        <li>
          <a href="{{categoryLink}}">{{categoryName}}</a>
          <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#{{categorySlug}}" aria-expanded="false" aria-controls="{{categorySlug}}"><span class="accordion-icon"></span></button>

          <ul class="collapse" id="{{categorySlug}}" aria-expanded="false">
            {{#options}}
            <li><a href="{{link}}"><i class="fa fa-caret-right"></i>{{label}}</a></li>
            {{/options}}
          </ul>
        </li>
      {{/categories}}
    </ul>
  </div>
</aside>
