{{>./default/base/header}}
{{>./default/base/sidebar_overlay}}
<div class="main">
  <div class="container">
    <div class="category-header">
        <h1>{{pageTitle}}</h1>
        <ol class="breadcrumb">
          <li>Category</li>
          {{^subCategoryName}}
          <li class="active">{{categoryName}}</li>
          {{/subCategoryName}}
          {{#subCategoryName}}
          <li>{{categoryName}}</li>
          <li class="active">{{subCategoryName}}</li>
          {{/subCategoryName}}
        </ol>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="shop-row">
          <div class="shop-container max-col-4" data-layout="fitRows">
            {{#products}}
            <div class="product-item">
              <div class="product">
                {{#primaryImage}}
                <a href="/products/{{id}}" class="product-image-link">
                  <div class="no-image md" style="display:flex;justify-content:center;align-items:center;overflow:hidden;">
                    <img src="{{primaryImage}}" style="max-width:100%;max-height:100%">
                  </div>
                </a>
                {{/primaryImage}}
                {{^primaryImage}}
                <a href="/products/{{id}}" title="{{name}}" class="product-image-link">
                  <div class="no-image md">
                    No Image
                  </div>
                </a>
                {{/primaryImage}}
                <h3 class="product-title" style="margin-top: 10px;">
                  <a href="/products/{{id}}">{{name}}</a>
                </h3>
                {{#isLoggedIn}}
                <div class="product-price-container">
                  <span class="product-price">${{price}}</span>
                </div>
                {{/isLoggedIn}}
              </div>
            </div>
            {{/products}}
            {{^hasProducts}}
            <div style="text-align: center;">
              No products found in this category.
            </div>
            {{/hasProducts}}
            {{^hasCategory}}
            <div style="text-align: center;">
              This category does not exist.
            </div>
            {{/hasCategory}}
          </div>
        </div>

        {{#category.pageNavigation}}
        <nav aria-label="Page Navigation">
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="dots"><span>...</span></li>
            <li><a href="#">18</a></li>
          </ul>
        </nav>
        {{/category.pageNavigation}}
      </div>
      {{>./default/base/sidebar}}
    </div>
  </div>
</div>
{{>./default/base/footer}}
